body {
	width: 2551px;
  height: 3579px;
}
.container {
	margin: 205px auto 195px;
	max-width: 2127px;
}
.header {
	max-width: 510px;
	margin: 0 auto 39px;
}
.headline-above {
	margin: 0 auto 24px;
	width: 24%;
}
.headline-middle {
  margin: 0 auto 0;

  max-width: 100%;

	color: #22252c;
	font-family: Bebas Neue Book, sans-serif;
	font-size: 86px;
	font-weight: 400;
  text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
}
.headline-below {
	width: 25%;
	margin: 0 auto 0;
}
.contacts {
  max-width: 2127px;
}
.hr img {
  width: 100%;
  height: 2%;
  background-color: #d7d7d7;
}
.columns {
  max-width: 2127px;
}

.inline {
	display: inline-block;
	vertical-align: middle;
}
.inline-design {
  width: 22%;

  letter-spacing: 0.2em;
  color: #22252c;
  font-family:Lato, sans-serif;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;

  background-image: url(../images/Rectangle_3.png);
  background-repeat: no-repeat;
  background-size: 67% 53%;
  background-position: left 90% center;
}
.inline-address {
	margin-left: 36px;
	margin-right: 44px;

  width: 9%;
    
  color: darkgrey;
	font-family: Lato;
	font-size: 26px;
	font-weight: bold;
}
.inline-tel {
  width: 15%;

  background-image: url(../images/Rectangle_3.png);
}
.inline-tel p {
	
	text-align: center;
	font-size: 24px;
  font-weight: 400;
}
.inline-tel a {
  text-decoration: none; 
  color: #22252c; 
}
.inline-tel img {
	width: 24px;
	height: 24px;
}
.inline-email {
	width: 15%;

  margin-left: 42px;
}
.inline-email p {
   
  font-family: Lato;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 2;
}
.inline-email a {
  text-decoration: none;
  color: #22252c;
}
.main {
	max-width: 2127px;
}
.main h1 {
  margin: 156px 1314px 83px 506px;

  color: #000000;
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
}
.linemain {
  max-width: 2127px;
}

.line {
	display: inline-block;
	vertical-align: top;
}
.line-writter {
  width: 16%;
  color: darkgrey;
  font-family: Lato;
  font-size: 42px;
  font-weight: bold;
}
.line-letter {
  width: 73%;

  margin-left: 159px;
  font-family: Lato;
  font-size: 42px;
  font-weight: bold;
  color: darkgrey;
}
.main img {
	width: 25%;
	height: 5%;

	margin-top: 92px;
	margin-left: 379px;
  margin-bottom: 457px;
}
.footer {
  max-width: 2127px;
  margin: ;
}
.footer img {
	width: 4%;
	height: 3%;

	margin: 109px 1023px 37px 1024px;
} 
@font-face {
  font-family: Bebas Neue Book;
  src: url(fonts/BebasNeueBook.eot);
  src: url(fonts/BebasNeueBook.ttf);
  src: url(fonts/BebasNeueBook.woff);
}

@font-face {
  font-family: Lato;
  src: url(fonts/Lato-Hairline.eot);
  src: url(fonts/Lato-Hairline.ttf);
  src: url(fonts/Lato-Hairline.woff);
}